.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
Data/bristol_bay_ovando
Data/Ruggerone_Irvine
*.Rproj
test-chatgpt.qmd
Lab-1/Lab1-ARIMA.html
Lab-2/Lab2-MARSS.html

/.quarto/
_freeze
*.o
*.so
Lab-6/univariate_example.html
Lab-6/univariate_example.r
